body {
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	color: #000;
	background-color: #fff;
}

#navbarToggle {
	border: 1px solid #5B6CE7;
	background-color: #3C50E0;

}

#collapsable-nav {
	background-color: #3C50E0;
	border-radius: 0.35em;
}

#collapsable-nav ul {
	text-align: center;
	font-size: 1.3em;
	color: ;
}

#collapsable-nav a {
	color: #fff;
}

#collapsable-nav a:hover, #collapsable-nav a:focus {
	color: #808080;
}

#collapsable-nav svg {
	width: 32px;
	height: 32px;
}

/*HEADER*/

#header-nav {
	background-color: #6272E5;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	color: #ffffff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 2em;
}

.navbar-brand p {
	margin: 0;
	margin-top: 7px;
	margin-left: 70px;
}

#github-img {
	width: 50px;
	height: 50px;
	color: #000;
	margin: 10px 15px 10px 0;
}

#github-img:hover, #github-img:focus {
	color: #505050;
}

/*END OF HEADER*/

/*MAIN CONTENT*/

#main-content {
	margin-top: 60px;
}

#table-of-contents {
	font-size: 1.2em;
}

#table-of-contents ul {
	list-style: none;
	position: sticky;
	top: 2rem;
	padding: 0;
}

#table-of-contents li {
	margin-top: 20px;
	color: #686868;
	padding: 5px 5px 5px 5px;
}

#table-of-contents li a {
	border-radius: 0.25em;
	padding: 10px 10px 10px 10px;
}

#table-of-contents li a:not(:hover) {
	text-decoration: none;
	color: #686868;
}

#table-of-contents li a:hover, #table-of-contents li a:focus {
	text-decoration: none;
	color: #000;
	background-color: #B0B6DE;
	border: 1px solid #686868;
}

.toc-active {
	font-weight: bold;
}

#contents {
	position: relative;
}

#contents-title {
	text-align: left;
	font-weight: bold;
	margin-bottom: 40px;
	padding: 0;
}

#contents-title h2 {
	font-size: 3em;
}

.text {
	font-size: 1.2em;
	font-weight: lighter;
	text-align: left;
	margin-bottom: 50px;
}

.text p {
	margin-bottom: 45px;
}

/*HOME*/

.home-tile {
	padding: 0;
}

.home-tile div {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 250px;
	height: 250px;
	border-radius: 0.35em;
	border: 1px solid #000;
}

.home-tile div:hover, .home-tile div:focus {
	border: 3px solid #686868;
	cursor: pointer;
}

.home-tile div h4 {
	text-align: center;
	background-color: #6272E5;
	color: #fff;
	padding-bottom: 5px;
}

#experience-tile {
	background: url('../images/industria_thumb.jpg');
}

#studies-tile {
	background: url('../images/estudios_thumb.jpg');
}

#language-tile {
	background: url('../images/idiomas_thumb.jpg');
}

/*END OF HOME*/

/*EXPERIENCE*/


/*END OF EXPERIENCE*/

/*END OF MAIN CONTENT*/

/*FOOTER*/

#footer-name {
	font-size: 1.2em;
	font-weight: lighter;
}

.bd-footer a:hover, .bd-footer a:focus {
	color: #505050;
}

#links {
	font-weight: lighter;
}

#contact {
	font-weight: lighter;
}


/*END OF FOOTER*/

/*EXTRA LARGE DEVICES*/

@media (min-width: 1200px) and (max-width: 1399px) {

}


/*LARGE DEVICES*/

@media (min-width: 992px) and (max-width: 1199px) {

}


/*MEDIUM DEVICES*/

@media (min-width: 768px) and (max-width: 991px) {

}


/*EXTRA SMALL DEVICES*/

@media (max-width: 575px) {

}